doctype html 
html
    head 
         <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
        title SHIMtube 
    body 
        header 
            h1 SHIMtube
        main 
            block content
        include ../partials/footer